.debt-transactions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.debt-transactions-wrapper .debt-card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: #5151f9 2px 2px 5px;
          box-shadow: #5151f9 2px 2px 5px;
  width: calc(100% - 20px);
  width: 400px;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  border-width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.debt-transactions-wrapper .debt-card .first-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 17.5% 17.5% 25%;
  grid-template-columns: 40% 17.5% 17.5% 25%;
  margin: 10px;
}
.debt-transactions-wrapper .debt-card .first-row div {
  font-size: 16px;
}
.debt-transactions-wrapper .debt-card .first-row .amount, .debt-transactions-wrapper .debt-card .first-row .lender, .debt-transactions-wrapper .debt-card .first-row .date {
  text-align: center;
}
.debt-transactions-wrapper .debt-card .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.debt-transactions-wrapper .debt-card .second-row .debtors-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 130px;
  overflow-x: auto;
}
.debt-transactions-wrapper .debt-card .second-row .debtors-wrapper .debtor-entry {
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  font-weight: 600;
  color: #fff;
}
.debt-transactions-wrapper .debt-card .delete-button {
  display: none;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-width: 0;
  border-radius: 15px;
  padding-top: 4px;
  background-color: #ff9090;
}
.debt-transactions-wrapper .debt-card:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: #5151f9 1px 1px 3px;
          box-shadow: #5151f9 1px 1px 3px;
}
.debt-transactions-wrapper .debt-card:hover .delete-button {
  display: block;
}

.disbalance-transaction {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: #5151f9 2px 2px 5px;
          box-shadow: #5151f9 2px 2px 5px;
  width: calc(100% - 20px);
  width: 400px;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
  border-width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.disbalance-transaction .first-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 17.5% 17.5% 25%;
  grid-template-columns: 40% 17.5% 17.5% 25%;
  margin: 10px;
}
.disbalance-transaction .first-row div {
  font-size: 16px;
}
.disbalance-transaction .first-row .amount, .disbalance-transaction .first-row .lender, .disbalance-transaction .first-row .date {
  text-align: center;
}
.disbalance-transaction .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 10px 10px;
  background-color: #5151f9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.disbalance-transaction .second-row .debtors-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 130px;
  overflow-x: scroll;
}
.disbalance-transaction .second-row .debtors-wrapper .debtor-entry {
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  font-weight: 600;
  color: #fff;
}
.disbalance-transaction .delete-button {
  display: none;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-width: 0;
  border-radius: 15px;
  background-color: #ff9090;
}

.disbalance-transaction:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: #5151f9 1px 1px 3px;
          box-shadow: #5151f9 1px 1px 3px;
}
.disbalance-transaction:hover .delete-button {
  display: block;
}

.add_form {
  z-index: 1001;
  position: fixed;
  top: 80px;
  left: 350px;
  width: 500px;
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #5fc85f;
  border-radius: 30px;
}
.add_form h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0 0 5px;
}
.add_form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 5% 65%;
  grid-template-columns: 30% 5% 65%;
  -ms-grid-rows: (26px 4px)[4] 76px 4px 26px 4px auto 8px auto 8px 30px;
  grid-template-rows: repeat(4, 26px 4px) 76px 4px 26px 4px auto 8px auto 8px 30px;
  margin: 30px;
}
.add_form form > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(16) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(17) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(18) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(19) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(20) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(21) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(22) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(23) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(24) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(25) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(26) {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(27) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(28) {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(29) {
  -ms-grid-row: 10;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(30) {
  -ms-grid-row: 10;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(31) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(32) {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(33) {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(34) {
  -ms-grid-row: 12;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(35) {
  -ms-grid-row: 12;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(36) {
  -ms-grid-row: 12;
  -ms-grid-column: 3;
}
.add_form form > *:nth-child(37) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}
.add_form form > *:nth-child(38) {
  -ms-grid-row: 13;
  -ms-grid-column: 2;
}
.add_form form > *:nth-child(39) {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
}
.add_form form label {
  -ms-grid-column: 1;
  grid-column: 1;
}
.add_form form label[for=transaction_name] {
  -ms-grid-row: 1;
  grid-row: 1;
}
.add_form form label[for=transaction_amount] {
  -ms-grid-row: 3;
  grid-row: 3;
}
.add_form form label[for=transaction_lender] {
  -ms-grid-row: 5;
  grid-row: 5;
}
.add_form form label[for=transaction_date] {
  -ms-grid-row: 7;
  grid-row: 7;
}
.add_form form label[for=transaction_description] {
  -ms-grid-row: 9;
  grid-row: 9;
}
.add_form form label[for=unused_debtors] {
  -ms-grid-row: 11;
  grid-row: 11;
}
.add_form form label[for=transaction_debtors] {
  -ms-grid-row: 11;
  grid-row: 11;
  -ms-grid-column: 3;
  grid-column: 3;
}
.add_form form input[name=transaction_name] {
  -ms-grid-row: 1;
  grid-row: 1;
}
.add_form form input[name=transaction_amount] {
  -ms-grid-row: 3;
  grid-row: 3;
}
.add_form form select[name=transaction_lender] {
  -ms-grid-row: 5;
  grid-row: 5;
}
.add_form form input[name=transaction_date] {
  -ms-grid-row: 7;
  grid-row: 7;
}
.add_form form textarea {
  -ms-grid-row: 9;
  grid-row: 9;
  resize: none;
}
.add_form form input, .add_form form select, .add_form form #transaction_debtors, .add_form form textarea {
  -ms-grid-column: 3;
  grid-column: 3;
}
.add_form form label, .add_form form input, .add_form form select, .add_form form textarea, .add_form form #transaction_debtors {
  font-size: 20px;
}
.add_form form > input[type=text], .add_form form > input[type=number], .add_form form > input[type=date], .add_form form select, .add_form form textarea {
  border-radius: 6px;
  border-width: 0;
  padding: 3px;
}
.add_form form #unused_debtors {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 13;
  grid-row: 13;
}
.add_form form #transaction_debtors {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 13;
  grid-row: 13;
}
.add_form form #unused-roles {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 15;
  grid-row: 15;
}
.add_form form #transaction-roles {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 15;
  grid-row: 15;
}
.add_form form #unused_debtors, .add_form form #transaction_debtors, .add_form form #unused-roles, .add_form form #transaction-roles {
  width: 100%;
  min-height: 32px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 200px;
  border-radius: 6px;
  border-width: 0;
  font-size: 14px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}
.add_form form #unused_debtors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.add_form form #unused_debtors .debtor_card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgb(217, 0, 255);
  min-width: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 100px;
  overflow-x: hidden;
  height: 16px;
  border-radius: 5px;
  padding: 3px;
  border-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  font-weight: 600;
}
.add_form form #transaction_debtors .debtor_entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #5151f9;
  min-width: 30px;
  height: 22px;
  border-radius: 8px;
  border-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 5px;
}
.add_form form #transaction_debtors .debtor_entry span {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 60px;
  overflow-x: hidden;
}
.add_form form #transaction_debtors .debtor_entry button {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  height: 100%;
  width: 26px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-width: 0;
  margin-right: 5px;
}
.add_form form #transaction_debtors .debtor_entry input[type=number] {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 5px;
  width: 50px;
  height: inherit;
  border-width: 0;
  border-left: black 1px;
  font-weight: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  text-align: end;
}
.add_form form #transaction_debtors .debtor_entry button {
  background-color: rgb(255, 0, 0);
}
.add_form form #transaction_debtors .debtor_entry button:hover {
  background-color: rgb(0, 255, 0);
}
.add_form form #transaction_debtors .debtor_entry.fulfilled button {
  background-color: rgb(0, 255, 0);
}
.add_form form #transaction_debtors .debtor_entry.fulfilled button:hover {
  background-color: rgb(255, 0, 0);
}
.add_form form .buttons-wrapper {
  -ms-grid-row: 17;
  grid-row: 17;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.add_form form .buttons-wrapper button, .add_form form .buttons-wrapper input[type=submit] {
  width: 200px;
  height: 100%;
  font-size: 20px;
  border-radius: 8px;
}