#summary-wrapper {
  margin: 10px;
}
#summary-wrapper form {
  font-weight: 600;
  background-color: rgb(172, 253, 172);
  padding: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
#summary-wrapper form input {
  margin-left: 5px;
}
#summary-wrapper form input {
  font-weight: 600;
  font-size: 16px;
  padding: 5px 2px 5px 2px;
  border-radius: 5px;
  border-width: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#summary-wrapper form input[type=date], #summary-wrapper form input[type=submit] {
  background-color: rgb(0, 69, 0);
  color: rgb(255, 255, 255);
}
#summary-wrapper form input[type=date]:hover, #summary-wrapper form input[type=submit]:hover {
  background-color: #01b301;
  color: rgb(0, 0, 0);
}
#summary-wrapper form label {
  margin-left: 10px;
}
#summary-wrapper div.personal {
  margin: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  color: white;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#summary-wrapper div.personal > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
#summary-wrapper div.personal > div span {
  margin: 5px;
}
#summary-wrapper div.personal :nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}
#summary-wrapper div.personal .good {
  background-color: #01b301;
}
#summary-wrapper div.personal .not-good {
  background-color: #bb0000;
}
#summary-wrapper div.p2p {
  margin: 10px 0 10px;
}
#summary-wrapper div.p2p > div h2, #summary-wrapper div.p2p > div h3 {
  margin: 0 0 0 5px;
}
#summary-wrapper div.p2p > div div.debt-entry {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px 5px 10px;
  background-color: #01b301;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#summary-wrapper div.p2p .self-debts {
  margin: 0 0 10px 0;
}
#summary-wrapper div.p2p span {
  color: white;
}
#summary-wrapper div.p2p span.person-name {
  font-weight: 600;
  margin-left: 5px;
}